* {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.66);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  padding: 0px 0px 100px 0px;
}

h1 { 
  font-size: 2rem; 
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

a { 
  text-decoration: none; 
  font-style: italic; 
  color: white; 
  font-weight: normal;
}

/* Game controls */

#welcome, #message, #controls {
  margin: 50px 0px 50px 0px;
}

#message #gameover:empty { visibilty: hidden; }
#message #reasons:empty { visibilty: hidden; }

#message #gameover {
  font-size: 5rem;
  color: #9a001a;
  background: rgba(255, 255, 255, 0.5);
  text-align: center
}

#message #reasons {
  background: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  color: white;
  text-align: center;
}

#controls #level:empty { visibility: hidden; }
#controls #points:empty { visibility: hidden; }

#welcome #start, #controls #points, #controls #level {
  padding: 5px 20px 5px 20px;
  font-style: normal;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid white;
  border-radius: 5px;
}

/* Spielbrett */
body {
  background-image: url('img/background.jpg');
  background-position: center center;
}

#snakegame {
  margin: 50px auto 50px auto;
}

#snakegame td {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.mouse {
  background-color: red !important;
  border-radius: 10px;
}

.snake {
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 10px;
}